.card {
	max-width: 650px;

	mat-form-field {
		width: 100%;
	}

	.form-buttons {
		display: flex;
		justify-content: center;
		gap: 16px;

		button {
			height: 42px;
			width: 100%;
		}
	}
}

@media (min-height: 768px) {
	:host {
		display: flex;
		height: calc(100vh - 80px - 158px);
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
	}
}
