<header>
	<nav class="navbar justify-content-center justify-content-sm-between">
		<div class="d-flex align-items-center">
			<button
				*ngIf="!disableMenu"
				type="button"
				class="menu-toggle btn btn-link p-0 mx-3"
				(click)="collapse()"
				aria-controls="menu"
				[attr.aria-expanded]="!isMenuCollapsed"
				aria-label="Abrir menu"
			>
				<mat-icon fontIcon="menu"></mat-icon>
			</button>

			<a class="navbar-brand d-flex align-items-center" title="SpeakMaster" [routerLink]="['/']">
				<h1 class="m-0 me-3" [class.ms-3]="disableMenu">SpeakMaster</h1>
				<img src="../../../assets/logo.png" class="d-none d-sm-block">
			</a>

			<div class="d-none d-xl-block" *ngIf="pageTitle">
				<h1 class="m-0 ps-3 text-secondary fw-light border-start border-2 border-secondary">
					{{ pageTitle }}
				</h1>
			</div>
		</div>

		<div>
			<ul class="navbar-nav flex-row align-items-center" *ngIf="isLoggedIn">
				<li class="nav-item">
					@if (commandCenterService.isConnected$ | async) {
						<ng-template #tooltipTemplate>
							Conectado à Central de Comandos.<br>
							Você pode enviar comandos para os seus módulos.
							<!-- Connected to Command Center.<br>
							You can send commands to your modules. -->
						</ng-template>

						<app-led color="#0F0" state="on" [tooltip]="tooltipTemplate"></app-led>
					} @else {
						<ng-template #tooltipTemplate>
							Desconectado da Central de Comandos.<br>
							Você não conseguirá enviar comandos para os seus módulos.
							<!-- Disconnected from Command Center.<br>
							You won't be able to send commands to your modules. -->
						</ng-template>

						<app-led color="#F00" [tooltip]="tooltipTemplate"></app-led>
					}
				</li>
				<li class="nav-item">
					<div class="btn-group mx-1" dropdown>
						<button
							type="button"
							title="Idioma reconhecido pelo microfone"
							class="btn p-1 d-flex align-items-center"
							[class.btn-secondary]="!speechRecognitionService.isMicOn"
							[class.btn-danger]="speechRecognitionService.isMicOn"
							(click)="speechRecognitionService.toggleMic()"
						>
							<mat-icon class="ms-1" [fontIcon]="speechRecognitionService.isMicOn ? 'mic_on' : 'mic_off'"></mat-icon>
							<span class="ms-2">{{ speechRecognitionService.currentLanguage }}</span>
						</button>

						<button
							dropdownToggle
							type="button"
							id="button-split"
							class="btn dropdown-toggle dropdown-toggle-split d-flex py-2 px-1"
							[class.btn-secondary]="!speechRecognitionService.isMicOn"
							[class.btn-danger]="speechRecognitionService.isMicOn"
							aria-controls="dropdown-split"
						>
							<mat-icon fontIcon="expand_more"></mat-icon>
						</button>

						<ul
							*dropdownMenu
							id="dropdown-split"
							class="dropdown-menu position-absolute"
							role="menu"
							aria-labelledby="button-split"
						>
							<li *ngFor="let language of spokenLanguages">
								<a class="dropdown-item" (click)="setLanguage(language)">
									{{ language.name }}
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<button
						type="button"
						title="Meu Perfil"
						class="btn btn-outline-primary text-white mx-1 p-1 d-flex align-items-center"
						[routerLink]="['/profile']"
					>
						<mat-icon class="bg-primary rounded me-lg-2" fontIcon="person_outline"></mat-icon>
						<span class="me-2 d-none d-lg-block">{{ username }}</span>
					</button>
				</li>
				<li class="nav-item">
					<button
						type="button"
						title="Sair"
						class="btn text-secondary me-1 d-flex"
						(click)="logout()"
					>
						<mat-icon fontIcon="logout"></mat-icon>
					</button>
				</li>
			</ul>

			<ul class="navbar-nav" *ngIf="!isLoggedIn">
				<li class="nav-item">
					<button
						type="button"
						class="btn btn-link mx-1 d-flex"
						[routerLink]="['/login']"
					>
						<span>Entrar</span>
						<mat-icon class="ms-1" fontIcon="login"></mat-icon>
					</button>
				</li>
			</ul>
		</div>
	</nav>
</header>
