<div class="container">
	<div class="card">
		<div
			class="card-header ps-2 d-flex bg-primary text-white"
			(click)="isCardCollapsed = !isCardCollapsed"
			[attr.aria-expanded]="!isCardCollapsed"
			aria-controls="form"
		>
			<mat-icon class="me-2" [fontIcon]="isCardCollapsed ? 'chevron_right' : 'expand_more'"></mat-icon>
			Configuração dos Módulos Instalados
		</div>

		<div class="card-body p-0" id="form" [collapse]="isCardCollapsed" [isAnimated]="true">
			<app-commands-table
				[currentCommands]="currentCommands"
				[hasPendingChanges]="pendingChanges.length > 0"
				(toggle)="togglePrefixMandated($event)"
				(editCommand)="editCommand($event)"
				(savePendingChanges)="savePendingCommands()"
				(selectedLanguage)="loadCurrentCommands($event)"
				[columns]="{
					command: 'Comando ou Prefixo',
					action: 'Módulo Ativado',
					toggle: 'Obrigatório'
				}"
			></app-commands-table>

			<div class="alert alert-info d-flex align-items-center m-3 mt-0" role="alert">
				<div class="me-3">
					<mat-icon fontIcon="info"></mat-icon>
				</div>
				<div class="text-justify">
					Os comandos aqui definidos serão usados para diferenciar entre um módulo e outro e devem ser falados no início do comando como um prefixo.
					Caso a opção <strong>obrigatório</strong> seja marcada, todos os comandos daquele módulo deverão ser falados iniciando com o prefixo definido, caso contrário não serão reconhecidos.
				</div>
			</div>
		</div>
	</div>
</div>
