<div class="modal-header">
	<h4 class="modal-title pull-left">Importar Comandos - {{ userModule?.name }}</h4>
	<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	</button>
</div>

<div class="modal-body p-0">
	<app-commands-table
		*ngIf="settings"
		[settings]="settings"
		[currentCommands]="currentCommands"
		[languageOptions]="languageOptions"
		(toggle)="toggleSelection($event)"
		(selectedLanguage)="loadCurrentCommands($event)"
	></app-commands-table>

	<div class="alert alert-info d-flex align-items-center m-3 mt-0" role="alert">
		<div class="me-3">
			<mat-icon fontIcon="info"></mat-icon>
		</div>
		<div class="text-justify">
			Todos os comandos aqui selecionados, mesmo que originários de múltiplos idiomas,
			serão importados e associados ao idioma sendo configurado atualmente, ou seja, {{ initialLanguageName }}.
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-dark me-auto" (click)="bsModalRef.hide()">Cancelar</button>
	<button type="button" class="btn btn-primary" (click)="import()" [disabled]="selectedCommands.length <= 0">
		Importar {{ selectedCommands.length }} {{ selectedCommands.length === 1 ? "Comando Selecionado" : "Comandos Selecionados" }}
	</button>
</div>
