.route-content {
	background-color: whitesmoke;
	min-height: 430px;
	min-height: calc(100vh - 80px - 158px);
	margin-right: -24px;
}

ng-scrollbar {
	max-height: calc(100vh - 80px);
}

app-side-menu {
	color: white;
	background-color: #30981B;
	min-width: 350px;
	max-width: 350px;
	min-height: calc(100vh - 80px);
	max-height: calc(100vh - 80px);
	margin-left: 0px;
	transition-property: margin-left;
	transition-duration: 550ms;
	z-index: 2;
}

app-side-menu::before {
	content: '';
	position: absolute;
	width: 6px;
	height: calc(100vh - 80px);
	margin-left: 350px;
	z-index: 1;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 100%);
}

app-side-menu.menu-collapsed {
	margin-left: -350px;
	transition-duration: 650ms;
}
