button {
	height: 37.5px;
}

hr {
	border-color: var(--bs-border-color);
	opacity: 1;
}

span.text-truncate {
	min-width: 145px;
}

.clear-btn {
	width: 50px;
	margin-left: -50px !important;
	z-index: 5;
}

.ambiguities-container {
	height: 255px;

	ng-scrollbar {
		max-height: 255px;
	}

	img {
		width: 40px;
		height: 40px;
		object-fit: cover;
	}
}

.ambiguities-container.empty {
	height: 283px;
}
